@import 'var';
@import '../css/base.css';

#top{
    background:#F5F5F5;
    min-width:1200px;
    line-height:30px; 
    border-bottom:1px solid #ddd; 
    .container{
        box-sizing:border-box;       
    }
    .top_l{
        font-size:12px;     
        >ul{
            >li{
                float:left;
                >a{
                    margin-left:10px;
                    display:block;
                    height:30px;
                    line-height:30px;
                    color:#444;
                    position:relative;
                    .address{
                        display:inline-block;
                        padding-right:15px;
                        margin-left:10px;
                        position:relative;
                        &::after{
                            content:"";
                            display:block;
                            width:14px;
                            height:15px;
                            background:url(../img/sprites.png) no-repeat right top;
                            position: absolute;
                            right:0;
                            top:7px;
                            background-position:-40px 0;
                        }
                    }
                    .comment{
                        color:#f60;
                    }
                }
            }
            .home,.qulity{
                >a{
                    padding-left:21px;
                    &::before{
                        content:"";
                        display:block;
                        width:15px;
                        height:15px;
                        background:url(../img/sprites.png) no-repeat left top;
                        position: absolute;
                        left:0;
                        top:7px;
                    }
                }
            }
            .qulity{
                a{
                    &::before{
                        background-position:-80px 0px;
                    }
                }
            }
        }
    }
    .top_r{
        font-size:12px;
        >ul{
            >li{
                float:left; 
                >a{
                    display:block;
                    margin-right:10px;
                    color:#444;
                }  
            }
            .user,.message{
                display:none;
            }
            .help{
                a{
                    color:#fd0000;
                    
                }
            }
            .cart,.pet,.favorite,.phone{ 
                >a{
                    padding-left:19px;
                    position:relative;
                    &::before{
                        content:"";
                        display:block;
                        width:19px;
                        height:15px;
                        background:url(../img/sprites.png) no-repeat left top;
                        position:absolute;
                        left:0;
                        top:6px;
                    }
                }
            }
            .pet,.favorite{

                >a{
                    padding-right:14px;
                    &::after{
                        content:"";
                        display:block;
                        width:14px;
                        height:15px;
                        background:url(../img/sprites.png) no-repeat right top;
                        position:absolute;
                        right:0;
                        top:7px;
                        background-position:-240px 0;
                    }
                }
                >ul{
                    display:none;
                    position:absolute;
                    top:30px;
                    border:1px solid #ddd;
                    border-top:1px solid #fff;
                    box-shadow:3px 3px 3px 2px #8f8f8f;
                    padding:10px 0 10px 10px;
                    width:105px;
                    box-sizing:border-box;
                    font-size:12px;
                    z-index:1;
                    background-color:#fff;
                    >li{
                        >a{
                            display:block;
                            color:#444;
                            font-size:12px;
                            line-height:16px;
                            margin-bottom:5px;
                            padding-left:9px;
                            position:relative;
                            &::before{
                                content:"";
                                display:block;
                                width:9px;
                                height:12px;
                                background:url(../img/sprites.png) no-repeat left top;
                                position:absolute;
                                left:0;
                                top:2px;
                                background-position:-320px 0;
                            }
                        }
                    }
                }
            }
            .cart{
                a::before{
                    background-position:-120px 0;
                }
                span{
                    color:#f60;
                }
            }
            
            .pet{
                a::before{
                    background-position:-160px 0;
                }
                
            }
            .pet:hover{
                >ul{
                    display:block;
                }
            }
            .favorite{
                a::before{
                    background-position:-200px 0;
                }          
            }
            .favorite:hover{
                >ul{
                    display:block;
                }
            }
            .phone{
                a::before{
                    background-position:-280px 0;
                }
                img{
                    display:none;
                    position:absolute;
                }
                &:hover{
                    img{
                        display:block;
                    }
                }
            }

        }
    }    
}
#logo{
    min-width:1200px;
    .container{
        box-sizing:border-box;
    }
    .logo_l{
        display:block;
        width:300px;
        height:120px;
        background:url(../img/logo.png);
        text-indent:-1000px;
    }
    .logo_c{
        height:120px;
        width:685px;
        padding-top:33px;
        box-sizing:border-box;
        .logo_cl{
            width:485px;
            input{
                width:405px;
                height:34px;
                box-sizing:border-box;
                border:2px solid $maincolor;
                border-right:$border;
                padding-left:15px;
                float:left
            }
            button{
                display:inline-block;
                width:75px;
                height:34px;
                background-color:$maincolor;
                font-size:14px;
                color:#fff;
                font-weight:bold;
                &:hover{
                    box-shadow: 0 0 5px 2px #ccc;
                }
            }
            
            p{
                margin-top:11px;
                height:16px;
                font-size:12px;
                a{
                    color:#999; 
                    height:16px;
                    font-size:12px;
                    span{
                        padding:0 10px;
                        display:inline-block;
                        border-right:1px solid #B299B2; 
                    }
                    
                }    
                :last-child{
                    span{
                        border-right:0 none;
                    }   
                }

            }
        }
        .logo_cr{
            color:#9F9F9F;
            font-size:16px;
            height:25px;
            padding-left:23px;
            margin-top:4px;
            font-style:italic;
            position:relative;
            line-height:25px;
            &::before{
                content:"";
                display:block;
                width:23px;
                height:25px;
                background:url(../img/sprites.png) no-repeat left top;
                position:absolute;
                left:0;
                top:0;
                background-position:-360px 0;
            }
        }
    }
    .logo_r{
        width:130px;
        height:40px;
        margin-top:33px;
        background:url(../img/shopping-cart.gif) no-repeat;
        p{
            margin-left:50px;
            color:#666;
            font-size:12px;
            line-height:40px;
            span{
                color:#f60;
            }
            a{color:#000;}
            a:hover{
                color:#06f; 
            }    
        }
        
    }
}
#nav{
    height:37px;
    border-bottom:2px solid $maincolor;
    box-sizing:border-box;
    min-width:1200px;
    .container{
        box-sizing:border-box;
    }
    .nav_l:hover{
        border:0 none;
    }
    .nav_l{
        >ul{
            position:relative;
            width:230px;
            box-sizing:border-box;
            border:1px solid #ccc;
            border-bottom: 0 none;
            >li{
                float:left;
                >a{
                    display:block;
                    width:114px;
                    height:35px;
                    color:#666;
                    line-height:35px;
                    text-align:center;
                    position:relative;
                    box-sizing:border-box;
                    i{
                        display:block;
                        background:url(../img/sprites.png) no-repeat;
                        position:absolute;
                        
                    }

                    
                }
                div{
                    position:absolute;
                    background-color:#fff;
                }
                &:first-child{
                    >a{
                        padding-right:16px;
                    }
                    i{
                        width:16px;
                        height:13px;
                        right:25px;
                        top:13px;
                        background-position:-480px 0;
                        transition:transform 0.3s;
                    }
                                      
                    ul{
                        display:block;    
                        box-sizing:border-box;
                        width:228px;
                        >li{
                            position: relative;
                            .link{
                                width:228px;
                                display:block;
                                height:120px;
                                font-size: 12px;
                                color:#666;
                                padding-top:25px;
                                box-sizing:border-box;
                                margin-left:20px;
                                >span{
                                    vertical-align:top;
                                    margin-left:18px;
                                    cursor:default;
                                    color:#F3743E;
                                }
                            }
                            .linkimg{
                                display:block;
                                position:absolute;
                                left:0px;
                                top:0;
                                transition:left 0.5s;
                                img{ 
                                    opacity:0;
                                    transition:opacity 0.5s;
                                }
                            }
                            &:hover{
                                .linkimg{
                                    left:-27px;
                                    img{
                                        opacity:1;
                                    }
                                    
                                }
                            }
                            .change{
                                width:110px;
                                height:30px;
                                margin-top:15px;
                                border-radius:5px;
                                margin-left:90px;
                                line-height:30px;
                                text-align:center;
                                box-sizing:border-box;

                            }
                            .pic{
                                margin-left:0;
                                float:left;
                                width:70px;
                                height:70px;
                                border-radius:50%;
                                text-align:center;
                            }
                            &:first-child{
                                .change{
                                    border:1px solid #459D36;
                                    color: #459D36;
                                }
                                .pic{
                                    background-color:#C7F5BF;
                                }
                            }
                            &:nth-child(2){
                                .change{
                                    border:1px solid $maincolor;
                                    color:$maincolor;
                                }
                                .pic{
                                    background-color:#EDDFFB;
                                }
                            }
                            &:last-child{
                                .change{
                                    border:1px solid #059EE0;
                                    color:#059EE0;
                                }
                                .pic{
                                    background-color:#CDE4FA;
                                }
                            }
                            
                        }         
                    }
                    
                }
                &:first-child{
                    >a{
                        i{
                            background-position:-400px 0;
                            transform:rotate(180deg);
                        }
                    }
                }           
                &:last-child{
                    >a{
                        padding-right:13px;
                    }
                    i{
                        width:13px;
                        height:7px;
                        right:15px;
                        top:15px;
                        background-position:-440px 0;
                        transition:transform 0.3s;
                    }
                    div{
                        padding: 0 14px;
                    }
                }
                
                &:last-child:hover{
                    >a{  
                        i{
                            background-position:-520px 0;
                            transform: rotate(180deg);
                        }
                    }
                }    
                
            }
            .categories{
                float:left;
                width:228px;
                left:0;
                top:37px;
                background-color:#fcfcfc;
                box-sizing:border-box;
                z-index:1;
                >ul{

                    >li{
                        border-bottom:1px dashed #ccc;
                        position:relative;   
                        width:200px;
                        box-sizing:border-box;

                        &:hover{
                            width:230px;
                            margin-left:-14px;
                            margin-right:0;
                            padding-left:14px;
                            background-color:#fff;
                            border-top:1px solid $maincolor;
                            border-bottom:1px solid $maincolor;
                            margin-top:-1px;
                            border-right:5px solid #fff;
                            padding-right:5px;
                            .goodstype,.sale{
                                display:block;
                                z-index:-10;
                            }
                        }
                        >p{ 
                            float:left;
                            a{
                                display:block;
                                box-sizing:border-box;
                                height:50px;
                                width:95px;
                                font-size:12px;
                                line-height:50px;
                                color:#444;
                            }
                            &:hover{
                                a{
                                    color:#06f;
                                }
                            }
                        }
                        >p:nth-child(even){
                            a{
                                position:relative;
                                &::after{
                                    content:"";
                                    display:block;
                                    width:14px;
                                    height:17px;
                                    background:url(../img/sprites.png) no-repeat;
                                    position:absolute;
                                    right:-9px;
                                    top:20px;
                                    background-position:-40px -40px;
                                }
                            }

                        }
                    }
                    >li:first-of-type{
                        div{
                            top:-2px;
                        }
                        
                    }
                    >li:nth-of-type(2){
                        div{
                            top:-53px; 
                        }    
                    }
                    >li:nth-of-type(3){
                        div{
                            top:-104px; 
                        }    
                    }
                    >li:nth-of-type(4){
                        div{
                            top:-155px; 
                        }    
                    }
                    >li:nth-of-type(5){
                        div{
                            top:-206px; 
                        }    
                    }
                    >li:nth-of-type(6){
                        div{
                            top:-257px; 
                        }    
                    }

                }
                
                div{
                    display:none;
                    position:absolute;
                    left:228px;
                    width:575px;
                    height:380px;
                    box-sizing:border-box;
                    border:1px solid $maincolor;
                    box-shadow:1px 1px 3px 2px #999;

                    >h4{
                        width:475px;
                        display:inline-block;
                        height:50px;
                        border-bottom:1px dashed #ddd;
                        padding:0 27px 0 40px;
                        position:relative;
                        font-size:16px;
                        color:#666;
                        line-height:50px;
                        >img{
                            margin-left:50px;
                        }
                        &::before{
                            content:"";
                            display:block;
                            width:40px;
                            height:45px;
                            position:absolute;
                        }
                        &::after{
                            content:"";
                            display:block;
                            width:27px;
                            height:27px;
                            background:url(../img/sprites.png);
                            position:absolute;
                            right:400px;
                            top:11px;
                            background-position:-120px -40px;
                        }
                        &:first-child{
                            &::before{
                            background:url(../img/meirong.png) no-repeat;
                            left:0;
                            top:5px;
                            }   
                        }
                        &:last-of-type{
                            &::before{
                            background:url(../img/clothes.png) no-repeat;
                            left:0;
                            top:5px;
                            }   
                        }
                    }
                }
                .goodstype{
                    >ul{
                        >li{
                            border-bottom:1px dashed #ddd;
                            padding-left:60px;
                            >a{
                                position:relative;
                                padding-right:30px;
                                &:after{
                                    content:"";
                                    display:block;
                                    width:25px;
                                    height:27px;
                                    position:absolute;
                                    right:6px;
                                    top:8px;     
                                }

                            }
                            a{
                                display:block;
                                height:40px;
                                float:left;
                                line-height:40px;
                                font-size:12px;
                                color:#666;

                            }
                            span{
                                a{
                                    line-height:16px;
                                    height:16px;
                                    padding: 0 8px 0 6px;
                                    border-right:1px solid #ddd;
                                    margin-top:10px;
                                }
                                &:last-child{
                                    a{
                                        border-right:0 none;
                                    }
                                }
                                
                            }

                            .first{
                                font-weight:bold;
                                color:#008000;
                                margin-right:12px;
                                border:0 none;
                            }

                        }
                        &:first-of-type{
                            li{
                                &:first-of-type{
                                    a{
                                        &::after{
                                            background:url(../img/c1.png) no-repeat;
                                            background-size:cover;
                                        }
                                    }

                                }
                                &:nth-of-type(2){
                                    a{
                                        &::after{
                                            background:url(../img/c2.png) no-repeat;
                                            background-size:cover;
                                        }
                                    }

                                }
                                &:nth-of-type(3){
                                    a{
                                        &::after{
                                            background:url(../img/c3.png) no-repeat;
                                            background-size:cover;
                                        }
                                    }

                                }
                            }
                        }
                        &:last-of-type{
                            li{
                                &:first-of-type{
                                    a{
                                        &::after{
                                            background:url(../img/c4.png) no-repeat;
                                            background-size:cover;
                                        }
                                    }

                                }
                                &:nth-of-type(2){
                                    a{
                                        &::after{
                                            background:url(../img/c5.png) no-repeat;
                                            background-size:cover;
                                        }
                                    }

                                }
                                &:nth-of-type(3){
                                    a{
                                        &::after{
                                            background:url(../img/c6.png) no-repeat;
                                            background-size:cover;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }                       
                
                .sale{
                    width:780px;
                    height:455px;
                    position:absolute;
                    top:-307px;
                    padding:15px;
                    >ul{                            
                        >li{
                            float:left;
                            position:relative;
                            >a{
                                display:block;
                                padding-right:0;
                                position:relative;
                                margin: 5px;
                                >img{
                                    width:360px;
                                    height:170px;
                                }
                            }                                 
                            .content{
                                display:block;
                                width:330px;
                                height:135px;
                                background-color::rgba(255,255,255,0.92);
                                position:absolute;
                                left:15px;top:15px;
                                border: 1px solid #7E776F;
                                box-shadow: none;
                                text-align:center;
                                >img{
                                    width:65px;
                                    height:40px;
                                    background-size:cover;
                                    margin:15px 0 0 0px;
                                }
                                >p{
                                    height:35px;
                                    line-height:35px;
                                    font-size: 18px;
                                    color:#666;
                                    text-align:center;
                                    margin:0 15px;
                                    border-bottom:1px dashed #8D908E;
                                }
                                >span{
                                    margin-top:15px;
                                    font-size: 14px;
                                    color:#666;
                                }
                            }
                            .daojishi{
                                display:block;
                                height:30px;
                                background:rgba(0,0,0,0.35);
                                position:absolute;
                                left:0;
                                top:140px;
                                border: 0 none;
                                width:360px;
                                box-shadow:none;
                                >p{
                                    position:relative;
                                    margin-left:-15px;
                                    line-height:30px;
                                    color: #fff;
                                    font-size:12px;
                                    &:before{
                                        content:"";
                                        display:block;
                                        width:23px;
                                        height:22px;
                                        background:url(../img/sprites.png) no-repeat;
                                        position:absolute;
                                        left:0;
                                        top:0;
                                        background-position:-160px -40px;

                                    }
                                    
                                    >span:first-child{
                                        margin-left:50px;
                                    }
                                }
                                
                            }
                        }
                        
                    }
                    .promotion{
                        width:105px;
                        height:25px;
                        background-color:#FF7174;
                        line-height:25px;
                        margin-left:330px;
                        margin-top:22px;
                        padding-left:10px;
                        box-sizing:border-box;
                        transform:skew(-10deg);
                        >a{
                            color:#fff;
                            font-size:14px;
                        }
                        
                    }

                }              
                >ul{
                    >li:last-child{
                       >p{
                            height:52px;
                            line-height:52px;
                            border: 0 none;
                            font-size:14px;
                            padding-left:25px;
                            width:230px;
                            box-sizing:border-box;
                            span{
                                display:inline-block;
                                width:35px;
                                height:20px;
                                background-color:#FB6003;
                                font-weight:bold;
                                line-height:20px;
                                text-align:center;
                                color:#fff;
                                margin-left:10px;
                                vertical-align:middle;
                                border-radius:10px;
                            }
                            &:before{
                                content:"";
                                display:block;
                                width:25px;
                                height:24px;
                                background:url(../img/sprites.png) no-repeat;
                                position:absolute;
                                left:0;
                                top:15px;
                                background-position:-80px -40px;
                            }
                        }

                        &:hover{
                            p{
                                &:before{
                                    left:14px;
                                }
                            }
                        }
                    }
                     

                }
                
               
                
            }
            .navactive{
                background:$maincolor;
                color:#fff;
                border-bottom:2px solid $maincolor;
            }
                 
        }
    }
    .nav_r{
        >ul{
            >li{
                float:left;
                >a{
                    height:37px;
                    line-height:37px;
                    margin:0 25px;
                    padding-left:20px;
                    position:relative;
                    font-weight:bold; 
                    color:#000;           
                }
                >a::before{
                    content:"";
                    display:block;
                    width:20px;
                    height:22px;
                    background:url(../img/sprites.png) no-repeat;
                    position:absolute;
                    left:0;
                    top:0;
                    background-position:0 -40px;
                    transition:transform 0.2s;
                }
                &:first-child{
                    >a{
                        color:#7A45E5; 
                        &::before{
                            background-position:-560px 0;
                        }
                    }
                    &:hover{
                        a{
                            color:#7A45E5; 
                            &::before{
                                transform:rotate(0deg);
                            }
                    
                        }
                    }
                }
            }
            >li:hover{
                >a{
                    color:$maincolor;
                    &::before{
                        transform:rotate(360deg);
                    }
                }
            }
            

        }
    }
}
#bottom{
    min-width:1200px;
    background-color:#F5F5F5;
    .bottom_t{
        height:100px;
        ul{
            >li{
                float:left;
                >a{
                    display:block;
                    padding-left:65px;
                    margin-right:35px;
                    line-height:100px;
                    font-size:20px;
                    color:#000;
                    font-weight:bold;
                    position:relative;
                    transition:line-height 0.6s;
                    &::before{
                        content:"";
                        display:block;
                        width:65px;
                        height:65px;
                        background:url(../img/bottom_t.png) no-repeat;
                        position:absolute;
                        left:0;
                        top:18px;
                        transition:top 0.6s;
                    }

                }
                &:first-child{
                    >a{
                        &::before{
                            background-position: 0 0;
                        }
                    }
                }
                &:nth-child(2){
                    >a{
                        &::before{
                            background-position: 0 -80px;
                        }
                    }
                }
                &:nth-child(3){
                    >a{
                        &::before{
                            background-position: 0 -160px;
                        }
                    }
                }
                &:nth-child(4){
                    >a{
                        &::before{
                            background-position: 0 -240px;
                        }
                    }
                }
                &:nth-child(5){
                    >a{
                        &::before{
                            background-position: 0 -320px;
                        }
                    }
                }
                &:nth-child(6){
                    >a{
                        &::before{
                            background-position: 0 -400px;
                        }
                    }
                }
            }
            >li:hover{
                >a{
                    color:#FA0324;
                    line-height:80px;
                    &::before{
                        top:10px;
                    }
                }
            }
        }

    }
    .bottom_c{
        border-top:1px solid #E5E5E5;
        border-bottom:1px solid #E5E5E5;
        .bottom_bl{
            width:390px;
            height:185px;
            >img{
                vertical-align:top;
                margin-top:30px;

            }
        }
        .service{
            display:inline-block;
            color:#666;
            margin-left:30px;
            h5{
                font-size:14px;
                font-weight:bold;
                margin-bottom:15px;
                margin-top:30px;
            }
            p{
                font-size:12px;
                span{
                    display:inline-block;
                    font-size:18px;
                    margin:0 5px 20px 0px;
                }
            }
        }
        .bottom_bc{
            width:390px;
            height:185px;      
        } 
        .links{
            font-size:12px;
            color:#666;
            dl{
                float:left;
                margin-right:80px;
                dt{
                    font-size:12px;
                    font-weight:bold;
                    margin-bottom:20px;
                    margin-top:30px;
                }
                dd{
                    margin-bottom:10px;
                }
                dd:hover{
                    color:#EF1E1C;
                }
            }       
        }
        .bottom_br{
            width:220px;
            padding-top:30px;
            p{
                font-size:12px;
                text-align:center;
                margin-bottom:10px;
            }
        }
    }
    .bottom_b{
        .blogroll{
            font-size:12px;
            margin-top:22px;
            margin-bottom:25px;
            color:#B0B0B0;
            a{
                color:#B0B0B0
            }
            a:hover{
                color:#EF1E1C;
                text-decoration:underline;
            }
        }
        ul{
            li{
                float:left;
                a{
                    display:block;
                    margin-right:7px;
                }
                &:first-child{
                    a{
                        margin-left:40px;
                    }
                }
            }
        }
        .addmit{
            margin-top:25px;
            margin-bottom:40px;
            text-align:center;
            font-size:12px;
            color:#000;
        }
    }
}
#aside{
    .aside_content{
        min-height:800px;
        width:35px;
        position:fixed;
        right:0;
        top:0;
        background-color:#444;
    }
    li{
        a{
            display:block;
            text-align:center;
            margin-top:10px;
        }
        span{
            display:inline-block;
            width:12px;
            font-size:12px;
            color:#9CA69C;
            margin-top:5px;
        }
    }
    li:nth-child(1){
        a{
            margin-top:120px;
        }
    }

    li:nth-child(2){
        a{
            margin-top:40px;       
        }
    }
    li:nth-child(3){
        a{
            margin-top:30px;
        }
    }
    li:nth-child(4){
        a{
            margin-top:35px;
        }
    }
    li:nth-child(6){
        a{
            margin-top:100px;
        }
    }

}