@import url("common.css");
#carousel{
    .container{
        position:relative;
    }
    .banner{
        position:relative;
        margin-left:230px;
        overflow: hidden;
        width:770px;
        height:360px;
        ul{
            li{
                position:absolute;
                left:0;
                top:0;
                img{
                    width:770px;
                    height:360px;
                    background-size:cover; 
                }
            }
        }
        .active{
            background:#fff;
            color:#000;
        }
        .page{
            position:absolute;
            left:260px;
            bottom:20px;
            span{
                display:inline-block;
                width:20px;
                height:20px;
                background-color:#999;
                color:#fff;
                border-radius:50%;
                text-align:center;
                font-size:12px;
                margin-left:10px;
                cursor:pointer;
            }
            .pageactive{
                background-color:#fff;
                color:#000;
            }
        }
    }
    .ad{
        position:absolute;
        right:0;
        top:0;
        a{
            display:block;
        }
        img{
            width:200px;
            height:120px;
            background-size:cover;
        }
    }
}
#main{
    .fengqiang{
        margin-top:30px;
    }
    .fengqiang_l{
        position:relative;
        >p{
            position:absolute;
            left:100px;
            top:200px;
            padding-left:29px;
            span{
                font-size:30px;
                font-weight:bold;
                color:#fff;
            }
            &:before{
                content:"";
                display:block;
                width:29px;
                height:32px;
                background:url(../img/sprites.png) no-repeat;
                position:absolute;
                left:0;
                top:2px;
                background-position:-180px -100px;
            }
            &:after{
                content:"";
                display:block;
                width:62px;
                height:22px;
                background:url(../img/jxz.png) no-repeat;
                position:absolute;
                right:-55px;
                top:-10px;
            }
        }
        .winner{
            width:280px;
            height:35px;
            background-color:#FF7188;
            border-radius:10px;
            position:absolute;
            left:0;
            bottom:20px;
            overflow:hidden;
            font-size:12px;
            line-height:35px;
            padding-left:35px;
            margin-left:20px;
            box-sizing:border-box;
            ul{
                position:absolute;
                left:35px;
                top:0;
            }
            a{
                color:#fff;
            }
            &:before{
                content:"";
                width:27px;
                height:34px;
                background:url(../img/winner.png) no-repeat;
                position:absolute;
                top:2px;
                left:3px;
            }
        }
    }
    .fengqiang_rt{
        width:870px;
        height:68px;
        overflow:hidden;
        position:relative;
        padding:0 60px;
        box-sizing:border-box;
        border-bottom:1px dashed #E7E7E7;
        ul{
            width:1200px;
            position:absolute;
            left:0;
            top:0;       
            >li{
                float:left;
                >a{
                    display:block;
                    width:50px;
                    margin: 0 35px;
                    height:68px;
                    font-size:12px;
                    color:#000;
                    text-align:center;
                    margin-top:20px;
                }              
            }

          
        }  
        .btnprev{
            font-size:12px;
            position:absolute;
            left:15px;
            top:25px;
            color:#A3A3A3;
            cursor:pointer;
        }
        .btnnext{
            position:absolute;
            right:15px;
            top:25px;
            font-size:12px;
            color:#A3A3A3;
            cursor:pointer;
        }
        .saleactive{
            font-size:14px;
            font-weight:bold;
            width:56px;
            margin:15px 32px 0 32px;
            color:#f00;
            border-bottom:1px solid #999;
        }
    }
    .fengqiang_rb{
        display:block;
        width:870px;
        height:390px;
        position:relative;
        overflow:hidden;
        ul{
            position:absolute;
            left:50px;
            top:75px;
        }
        li{
            float:left;
            position:relative;
            a{
                display:block;
                font-size:12px;
                color:#000;
                margin-right:60px;
                .goods{
                    width:155px;
                    text-align:center;
                    img{
                    width:155px;
                    height:155px;
                    background-size:cover;
                }
                }
                
                span{
                    color:#f00;
                    font-size:18px;
                }
                del{
                    margin-left:5px;
                    color:#999;
                }
                .rmb{
                    font-size:12px;
                }
                button{
                    margin-top:30px;
                    width:120px;
                    height:30px;
                    border-radius:20px;
                    color:#fff;
                }
            }
            >img{
                position:absolute;
                left:5px;
                top:20px;
            }
        }
        >span{
            display:block;
            position:absolute;
            top:150px;
            width:20px;
            height:50px;
            background-color:#ddd;
            line-height:50px;
            text-align:center;
            color:#fff;
            cursor:pointer;
        }
        .goods_btnprev{
            left:10px;
            
        }
        .goods_btnnext{
            
            right:0;
            
        } 

        

    }
    .cat_zhuliang{
        margin-top:52px;
        h4{
            font-size:18px;
            padding-left:37px;
            position:relative;
            margin-bottom:10px;
            &:before{
                content:"";
                display:block;
                width:27px;
                height:25px;
                background:url(../img/sprites.png) no-repeat;
                left:0;
                top:0;
                position:absolute;
                background-position:-420px -100px;
            }
        }
        .tab{
            border:1px solid #ddd;
            border-bottom: 0 none;
            position:relative;
            >li{
                float:left;
                >a{
                    display:block;
                    height:25px;
                    color:#666;
                    font-size:12px;
                   >span{
                    display:block;
                    height:14px;
                    padding:0 15px;
                    margin-top:10px;
                    border-right:1px solid #ddd;
                   }

                }
            }
            >li:last-child{
                >span{
                    border-right:0 none;
                }
            }     
            
            .tabcontent{
                position:absolute;
                left:-581px;
                top:34px;;
                border-top:1px solid #E74085;
                border-right:1px solid #ddd;
                width:873px;
                height:511px;
                box-sizing:border-box;
                overflow:hidden;
                >ul{
                    overflow:hidden;
                    >li{
                        float:left;
                        >a{
                            display:block;
                            border-left:1px solid #ddd;
                            width:218px;
                            padding:42px 20px;
                            text-align:center;
                            box-sizing:border-box;
                            border-bottom:1px solid #ddd;
                            color:#999;
                            font-size:12px;
                            font-family:"微软雅黑";
                            img{
                                width:80px;
                            }
                        }
                        p{
                            text-align:left;
                            font-size:12px;
                            margin-top:15px;
                            font-weight:normal;

                        }
                        span{
                            display:block;
                            text-align:left;
                            font-size:16px;
                            color:#f00;
                            margin-top:7px;
                        }
                    }
                }  
            }
            .content_tl{
                position:relative;
                width:385px;
                box-sizing:border-box;
            }
            .content_tr{
                border-left:1px solid #ddd;
                .content_trt{
                    position:relative;
                    border-bottom:1px solid #ddd;
                }
                .content_trb{
                    position:relative;
                }
            }
            .goodsname{
                position:absolute;
                left:20px;
                top:30px;
                font-size:16px;

                span{
                    font-size:14px;
                    color:#f00;
                    line-height:30px;
                }
            }
            .content_b{
                ul{
                    width:873px;
                    height:60px;
                }      
                li{
                    float:left;
                    position:relative;
                    a{
                        border-left:1px solid #ddd;
                        color:#000;
                    }
                }     
                p{
                    position:absolute;
                    left:20px;
                    top:20px;
                    font-size:16px;
                    color:#000;
                    span{
                        color:#f00;
                        font-size:14px;
                    }
                }
            }
            .tabactive{
                >a{
                    height:35px;
                    border:1px solid #E74085;
                    border-top:2px solid #E74085;
                    color:#E74085;
                    border-bottom:1px solid #fff;
                    margin-left:-2px;
                    >span{
                        border: 0 none;
                    }
                }
            }
        }
        .zhuliang_tl{
            position:relative;
            width:327px;
            height:511px;
            box-sizing:border-box;
            img{
                width:327px;
                height:476px;
                background-size:cover;
            }
        
        }
        .hot{
            height:177px;
            width:327px;
            position:absolute;
            left:0px;
            bottom:0;
            background-color:#E4DCEE;
            h6{
                margin-top:10px;
                font-size:14px;
                text-align:center;
                span{
                    display:inline-block;
                    position:relative;
                    padding-left:30px;
                    margin: 0 10px;
                }
                span:before{
                    content:"";
                    display:block;
                    width:30px;
                    height:28px;
                    background:url(../img/sprites.png) no-repeat;
                    position:absolute;
                    left:0;top:-4px;
                    background-position:-460px -100px;
                }
            }
            ul{
                margin-top:20px;
                li{
                    float:left;
                    a{
                        display:block;
                        color:#999;
                        font-size:12px;
                        width:80px;
                        text-align:center;
                        line-height:25px;
                        height:25px;
                        border-radius:20px;
                        margin: 0 10px;
                        background-color:#fff;
                        margin-bottom:10px;
                    }
                }
                li:hover{
                    a{
                        color:#0af;
                    }
                }
            }
        }
        .zhuliang_b{
            ul{
                width:1198px;
                border:1px solid #ddd;
                border-right: 0 none;
                li{
                    float:left;
                    a{
                        display:block;
                        padding:5px 24px;
                        border-right:1px solid #ddd;
                       
                        box-sizing:border-box;
                    }
                }
                li:last-child{
                    a{
                        border-right: 0 none;
                    }
                    
                }
            }
        }
        
    }   
}