@import url("../css/common.css");
#reglogo{
    height:120px;
    line-height:120px;
    .reglogo_l{
        color:#000;
        span{
            font-weight:bold;
            margin:0 10px;
        }
        font-size:18px;
    }
    .reglogo_r{
        font-size:14px;
    }
}
#main{
    height:618px;
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .form{
        margin:55px auto 0 auto;
        // width:800px;
        padding: 0 230px;
        label{
            display:inline-block;
            width:102px;
            text-align:right;
        }
        .addmitrule{
            width:500px;
            text-align:left;
            margin-bottom:30px;
        }
    }
    .form-group{
        margin-bottom:10px;
        position:relative;
        input{
            height:55px;
            width:415px;
            border:1px solid #ddd;
            border-radius:8px;
            box-sizing:border-box;
            padding-left:10px;
        }
        i{
            // display:block;
            width:20px;
            height:23px;
            background:url(../img/sprites.png) no-repeat;
            position:absolute;
            left:530px;
            top:15px;
            background-position:-540px -100px;
            display:none;
        }
        #vcode{
            width:205px;    
        }
        .yzcode{
            display:inline-block;
            border:1px solid #ddd;
            border-radius:8px;
            width:203px;
            margin-top:10px;
            vertical-align: bottom;
            button{
                width:98px;
                height:51px;
                position:relative; 
                padding:16px;
                background:#fff;
                box-sizing:border-box;
                &:before{
                    content:"";
                    display:block;
                    width:16px;
                    height:23px;
                    background:url(../img/sprites.png) no-repeat;
                    position:absolute;
                    left:5px;
                    top:15px;
                    background-position:-500px -100px;
                }
                &:hover{
                    color:#0af;
                }
            }
            .letter{   
                border-top-left-radius:8px; 
                border-bottom-left-radius:8px; 
                display:inline-block;
                width:100px;
                height:53px;
                box-sizing:border-box;
                background:#0fa;
                line-height:53px;
                vertical-align:middle;
                span{
                    width:18px;
                    display:block;
                    float:left;
                    padding-left:5px;
                    box-sizing:border-box;
                }
            }
        }
        
        
        #shortmsg{
            width:255px;
        }
        .getmsgcode{
            width:150px;
            height:55px;
            border:1px solid #0fa;
            background:#fff;
            box-sizing:border-box;
            border-radius:8px;
            margin-left:5px;
            color:#999;
            font-size:14px;
            &:hover{
                background:#33cb98;
                color:#fff;
            }
        }
        p{
            display:inline-block;
            width:170px;
            height:55px;
            background-color:#FFF3D9;
            vertical-align:bottom;
            visibility: hidden;
            text-align:center;
            font-size:14px;
            line-height:55px;
            color:#FF834A;
        }
       
        .pwd_level{
            margin-left:100px;
            margin-top:8px;
            >li{
                float:left;
                background:#EEEEEE; 
                width: 80px; 
                margin: 4px; 
                height: 20px;
                font-size:12px;
                text-align:center;
                color:#fff;
                line-height:20px;

            }
        }
    }
    .addmitrule{
        margin-left:100px;
        font-size:12px;
        input{
            width:12px;
            height:12px;
        }
    }   
    .btn_reg{
        display:block;
        width:415px;
        height:50px;
        margin-left:100px;
        background:#EDEDED;
        font-size:20px;
        color:#fff;
    }
}
#regbottom{
    margin-top:70px;
    .container{
        ul{
            width:350px;
            margin:0 auto;
           >li{
                float:left;
                a{
                    color:#999;
                    display:block;
                    padding:0 10px;
                    font-size:12px;
                    border-right:1px solid #ddd;
                }
            } 
        }
    }   
}
#bottom{
    margin-top:8px;
    background:#fff;
    .bottom_b{
        .addmit{
            margin-top:0;
        }
    }
}


