@import url(../css/base.css);
#top { background: #F5F5F5; min-width: 1200px; line-height: 30px; border-bottom: 1px solid #ddd; }

#top .container { box-sizing: border-box; }

#top .top_l { font-size: 12px; }

#top .top_l > ul > li { float: left; }

#top .top_l > ul > li > a { margin-left: 10px; display: block; height: 30px; line-height: 30px; color: #444; position: relative; }

#top .top_l > ul > li > a .address { display: inline-block; padding-right: 15px; margin-left: 10px; position: relative; }

#top .top_l > ul > li > a .address::after { content: ""; display: block; width: 14px; height: 15px; background: url(../img/sprites.png) no-repeat right top; position: absolute; right: 0; top: 7px; background-position: -40px 0; }

#top .top_l > ul > li > a .comment { color: #f60; }

#top .top_l > ul .home > a, #top .top_l > ul .qulity > a { padding-left: 21px; }

#top .top_l > ul .home > a::before, #top .top_l > ul .qulity > a::before { content: ""; display: block; width: 15px; height: 15px; background: url(../img/sprites.png) no-repeat left top; position: absolute; left: 0; top: 7px; }

#top .top_l > ul .qulity a::before { background-position: -80px 0px; }

#top .top_r { font-size: 12px; }

#top .top_r > ul > li { float: left; }

#top .top_r > ul > li > a { display: block; margin-right: 10px; color: #444; }

#top .top_r > ul .user, #top .top_r > ul .message { display: none; }

#top .top_r > ul .help a { color: #fd0000; }

#top .top_r > ul .cart > a, #top .top_r > ul .pet > a, #top .top_r > ul .favorite > a, #top .top_r > ul .phone > a { padding-left: 19px; position: relative; }

#top .top_r > ul .cart > a::before, #top .top_r > ul .pet > a::before, #top .top_r > ul .favorite > a::before, #top .top_r > ul .phone > a::before { content: ""; display: block; width: 19px; height: 15px; background: url(../img/sprites.png) no-repeat left top; position: absolute; left: 0; top: 6px; }

#top .top_r > ul .pet > a, #top .top_r > ul .favorite > a { padding-right: 14px; }

#top .top_r > ul .pet > a::after, #top .top_r > ul .favorite > a::after { content: ""; display: block; width: 14px; height: 15px; background: url(../img/sprites.png) no-repeat right top; position: absolute; right: 0; top: 7px; background-position: -240px 0; }

#top .top_r > ul .pet > ul, #top .top_r > ul .favorite > ul { display: none; position: absolute; top: 30px; border: 1px solid #ddd; border-top: 1px solid #fff; box-shadow: 3px 3px 3px 2px #8f8f8f; padding: 10px 0 10px 10px; width: 105px; box-sizing: border-box; font-size: 12px; z-index: 1; background-color: #fff; }

#top .top_r > ul .pet > ul > li > a, #top .top_r > ul .favorite > ul > li > a { display: block; color: #444; font-size: 12px; line-height: 16px; margin-bottom: 5px; padding-left: 9px; position: relative; }

#top .top_r > ul .pet > ul > li > a::before, #top .top_r > ul .favorite > ul > li > a::before { content: ""; display: block; width: 9px; height: 12px; background: url(../img/sprites.png) no-repeat left top; position: absolute; left: 0; top: 2px; background-position: -320px 0; }

#top .top_r > ul .cart a::before { background-position: -120px 0; }

#top .top_r > ul .cart span { color: #f60; }

#top .top_r > ul .pet a::before { background-position: -160px 0; }

#top .top_r > ul .pet:hover > ul { display: block; }

#top .top_r > ul .favorite a::before { background-position: -200px 0; }

#top .top_r > ul .favorite:hover > ul { display: block; }

#top .top_r > ul .phone a::before { background-position: -280px 0; }

#top .top_r > ul .phone img { display: none; position: absolute; }

#top .top_r > ul .phone:hover img { display: block; }

#logo { min-width: 1200px; }

#logo .container { box-sizing: border-box; }

#logo .logo_l { display: block; width: 300px; height: 120px; background: url(../img/logo.png); text-indent: -1000px; }

#logo .logo_c { height: 120px; width: 685px; padding-top: 33px; box-sizing: border-box; }

#logo .logo_c .logo_cl { width: 485px; }

#logo .logo_c .logo_cl input { width: 405px; height: 34px; box-sizing: border-box; border: 2px solid #E73F85; border-right: 0 none; padding-left: 15px; float: left; }

#logo .logo_c .logo_cl button { display: inline-block; width: 75px; height: 34px; background-color: #E73F85; font-size: 14px; color: #fff; font-weight: bold; }

#logo .logo_c .logo_cl button:hover { box-shadow: 0 0 5px 2px #ccc; }

#logo .logo_c .logo_cl p { margin-top: 11px; height: 16px; font-size: 12px; }

#logo .logo_c .logo_cl p a { color: #999; height: 16px; font-size: 12px; }

#logo .logo_c .logo_cl p a span { padding: 0 10px; display: inline-block; border-right: 1px solid #B299B2; }

#logo .logo_c .logo_cl p :last-child span { border-right: 0 none; }

#logo .logo_c .logo_cr { color: #9F9F9F; font-size: 16px; height: 25px; padding-left: 23px; margin-top: 4px; font-style: italic; position: relative; line-height: 25px; }

#logo .logo_c .logo_cr::before { content: ""; display: block; width: 23px; height: 25px; background: url(../img/sprites.png) no-repeat left top; position: absolute; left: 0; top: 0; background-position: -360px 0; }

#logo .logo_r { width: 130px; height: 40px; margin-top: 33px; background: url(../img/shopping-cart.gif) no-repeat; }

#logo .logo_r p { margin-left: 50px; color: #666; font-size: 12px; line-height: 40px; }

#logo .logo_r p span { color: #f60; }

#logo .logo_r p a { color: #000; }

#logo .logo_r p a:hover { color: #06f; }

#nav { height: 37px; border-bottom: 2px solid #E73F85; box-sizing: border-box; min-width: 1200px; }

#nav .container { box-sizing: border-box; }

#nav .nav_l:hover { border: 0 none; }

#nav .nav_l > ul { position: relative; width: 230px; box-sizing: border-box; border: 1px solid #ccc; border-bottom: 0 none; }

#nav .nav_l > ul > li { float: left; }

#nav .nav_l > ul > li > a { display: block; width: 114px; height: 35px; color: #666; line-height: 35px; text-align: center; position: relative; box-sizing: border-box; }

#nav .nav_l > ul > li > a i { display: block; background: url(../img/sprites.png) no-repeat; position: absolute; }

#nav .nav_l > ul > li div { position: absolute; background-color: #fff; }

#nav .nav_l > ul > li:first-child > a { padding-right: 16px; }

#nav .nav_l > ul > li:first-child i { width: 16px; height: 13px; right: 25px; top: 13px; background-position: -480px 0; transition: transform 0.3s; }

#nav .nav_l > ul > li:first-child ul { display: block; box-sizing: border-box; width: 228px; }

#nav .nav_l > ul > li:first-child ul > li { position: relative; }

#nav .nav_l > ul > li:first-child ul > li .link { width: 228px; display: block; height: 120px; font-size: 12px; color: #666; padding-top: 25px; box-sizing: border-box; margin-left: 20px; }

#nav .nav_l > ul > li:first-child ul > li .link > span { vertical-align: top; margin-left: 18px; cursor: default; color: #F3743E; }

#nav .nav_l > ul > li:first-child ul > li .linkimg { display: block; position: absolute; left: 0px; top: 0; transition: left 0.5s; }

#nav .nav_l > ul > li:first-child ul > li .linkimg img { opacity: 0; transition: opacity 0.5s; }

#nav .nav_l > ul > li:first-child ul > li:hover .linkimg { left: -27px; }

#nav .nav_l > ul > li:first-child ul > li:hover .linkimg img { opacity: 1; }

#nav .nav_l > ul > li:first-child ul > li .change { width: 110px; height: 30px; margin-top: 15px; border-radius: 5px; margin-left: 90px; line-height: 30px; text-align: center; box-sizing: border-box; }

#nav .nav_l > ul > li:first-child ul > li .pic { margin-left: 0; float: left; width: 70px; height: 70px; border-radius: 50%; text-align: center; }

#nav .nav_l > ul > li:first-child ul > li:first-child .change { border: 1px solid #459D36; color: #459D36; }

#nav .nav_l > ul > li:first-child ul > li:first-child .pic { background-color: #C7F5BF; }

#nav .nav_l > ul > li:first-child ul > li:nth-child(2) .change { border: 1px solid #E73F85; color: #E73F85; }

#nav .nav_l > ul > li:first-child ul > li:nth-child(2) .pic { background-color: #EDDFFB; }

#nav .nav_l > ul > li:first-child ul > li:last-child .change { border: 1px solid #059EE0; color: #059EE0; }

#nav .nav_l > ul > li:first-child ul > li:last-child .pic { background-color: #CDE4FA; }

#nav .nav_l > ul > li:first-child > a i { background-position: -400px 0; transform: rotate(180deg); }

#nav .nav_l > ul > li:last-child > a { padding-right: 13px; }

#nav .nav_l > ul > li:last-child i { width: 13px; height: 7px; right: 15px; top: 15px; background-position: -440px 0; transition: transform 0.3s; }

#nav .nav_l > ul > li:last-child div { padding: 0 14px; }

#nav .nav_l > ul > li:last-child:hover > a i { background-position: -520px 0; transform: rotate(180deg); }

#nav .nav_l > ul .categories { float: left; width: 228px; left: 0; top: 37px; background-color: #fcfcfc; box-sizing: border-box; z-index: 1; }

#nav .nav_l > ul .categories > ul > li { border-bottom: 1px dashed #ccc; position: relative; width: 200px; box-sizing: border-box; }

#nav .nav_l > ul .categories > ul > li:hover { width: 230px; margin-left: -14px; margin-right: 0; padding-left: 14px; background-color: #fff; border-top: 1px solid #E73F85; border-bottom: 1px solid #E73F85; margin-top: -1px; border-right: 5px solid #fff; padding-right: 5px; }

#nav .nav_l > ul .categories > ul > li:hover .goodstype, #nav .nav_l > ul .categories > ul > li:hover .sale { display: block; z-index: -10; }

#nav .nav_l > ul .categories > ul > li > p { float: left; }

#nav .nav_l > ul .categories > ul > li > p a { display: block; box-sizing: border-box; height: 50px; width: 95px; font-size: 12px; line-height: 50px; color: #444; }

#nav .nav_l > ul .categories > ul > li > p:hover a { color: #06f; }

#nav .nav_l > ul .categories > ul > li > p:nth-child(even) a { position: relative; }

#nav .nav_l > ul .categories > ul > li > p:nth-child(even) a::after { content: ""; display: block; width: 14px; height: 17px; background: url(../img/sprites.png) no-repeat; position: absolute; right: -9px; top: 20px; background-position: -40px -40px; }

#nav .nav_l > ul .categories > ul > li:first-of-type div { top: -2px; }

#nav .nav_l > ul .categories > ul > li:nth-of-type(2) div { top: -53px; }

#nav .nav_l > ul .categories > ul > li:nth-of-type(3) div { top: -104px; }

#nav .nav_l > ul .categories > ul > li:nth-of-type(4) div { top: -155px; }

#nav .nav_l > ul .categories > ul > li:nth-of-type(5) div { top: -206px; }

#nav .nav_l > ul .categories > ul > li:nth-of-type(6) div { top: -257px; }

#nav .nav_l > ul .categories div { display: none; position: absolute; left: 228px; width: 575px; height: 380px; box-sizing: border-box; border: 1px solid #E73F85; box-shadow: 1px 1px 3px 2px #999; }

#nav .nav_l > ul .categories div > h4 { width: 475px; display: inline-block; height: 50px; border-bottom: 1px dashed #ddd; padding: 0 27px 0 40px; position: relative; font-size: 16px; color: #666; line-height: 50px; }

#nav .nav_l > ul .categories div > h4 > img { margin-left: 50px; }

#nav .nav_l > ul .categories div > h4::before { content: ""; display: block; width: 40px; height: 45px; position: absolute; }

#nav .nav_l > ul .categories div > h4::after { content: ""; display: block; width: 27px; height: 27px; background: url(../img/sprites.png); position: absolute; right: 400px; top: 11px; background-position: -120px -40px; }

#nav .nav_l > ul .categories div > h4:first-child::before { background: url(../img/meirong.png) no-repeat; left: 0; top: 5px; }

#nav .nav_l > ul .categories div > h4:last-of-type::before { background: url(../img/clothes.png) no-repeat; left: 0; top: 5px; }

#nav .nav_l > ul .categories .goodstype > ul > li { border-bottom: 1px dashed #ddd; padding-left: 60px; }

#nav .nav_l > ul .categories .goodstype > ul > li > a { position: relative; padding-right: 30px; }

#nav .nav_l > ul .categories .goodstype > ul > li > a:after { content: ""; display: block; width: 25px; height: 27px; position: absolute; right: 6px; top: 8px; }

#nav .nav_l > ul .categories .goodstype > ul > li a { display: block; height: 40px; float: left; line-height: 40px; font-size: 12px; color: #666; }

#nav .nav_l > ul .categories .goodstype > ul > li span a { line-height: 16px; height: 16px; padding: 0 8px 0 6px; border-right: 1px solid #ddd; margin-top: 10px; }

#nav .nav_l > ul .categories .goodstype > ul > li span:last-child a { border-right: 0 none; }

#nav .nav_l > ul .categories .goodstype > ul > li .first { font-weight: bold; color: #008000; margin-right: 12px; border: 0 none; }

#nav .nav_l > ul .categories .goodstype > ul:first-of-type li:first-of-type a::after { background: url(../img/c1.png) no-repeat; background-size: cover; }

#nav .nav_l > ul .categories .goodstype > ul:first-of-type li:nth-of-type(2) a::after { background: url(../img/c2.png) no-repeat; background-size: cover; }

#nav .nav_l > ul .categories .goodstype > ul:first-of-type li:nth-of-type(3) a::after { background: url(../img/c3.png) no-repeat; background-size: cover; }

#nav .nav_l > ul .categories .goodstype > ul:last-of-type li:first-of-type a::after { background: url(../img/c4.png) no-repeat; background-size: cover; }

#nav .nav_l > ul .categories .goodstype > ul:last-of-type li:nth-of-type(2) a::after { background: url(../img/c5.png) no-repeat; background-size: cover; }

#nav .nav_l > ul .categories .goodstype > ul:last-of-type li:nth-of-type(3) a::after { background: url(../img/c6.png) no-repeat; background-size: cover; }

#nav .nav_l > ul .categories .sale { width: 780px; height: 455px; position: absolute; top: -307px; padding: 15px; }

#nav .nav_l > ul .categories .sale > ul > li { float: left; position: relative; }

#nav .nav_l > ul .categories .sale > ul > li > a { display: block; padding-right: 0; position: relative; margin: 5px; }

#nav .nav_l > ul .categories .sale > ul > li > a > img { width: 360px; height: 170px; }

#nav .nav_l > ul .categories .sale > ul > li .content { display: block; width: 330px; height: 135px; background-color: rgba(255, 255, 255, 0.92); position: absolute; left: 15px; top: 15px; border: 1px solid #7E776F; box-shadow: none; text-align: center; }

#nav .nav_l > ul .categories .sale > ul > li .content > img { width: 65px; height: 40px; background-size: cover; margin: 15px 0 0 0px; }

#nav .nav_l > ul .categories .sale > ul > li .content > p { height: 35px; line-height: 35px; font-size: 18px; color: #666; text-align: center; margin: 0 15px; border-bottom: 1px dashed #8D908E; }

#nav .nav_l > ul .categories .sale > ul > li .content > span { margin-top: 15px; font-size: 14px; color: #666; }

#nav .nav_l > ul .categories .sale > ul > li .daojishi { display: block; height: 30px; background: rgba(0, 0, 0, 0.35); position: absolute; left: 0; top: 140px; border: 0 none; width: 360px; box-shadow: none; }

#nav .nav_l > ul .categories .sale > ul > li .daojishi > p { position: relative; margin-left: -15px; line-height: 30px; color: #fff; font-size: 12px; }

#nav .nav_l > ul .categories .sale > ul > li .daojishi > p:before { content: ""; display: block; width: 23px; height: 22px; background: url(../img/sprites.png) no-repeat; position: absolute; left: 0; top: 0; background-position: -160px -40px; }

#nav .nav_l > ul .categories .sale > ul > li .daojishi > p > span:first-child { margin-left: 50px; }

#nav .nav_l > ul .categories .sale .promotion { width: 105px; height: 25px; background-color: #FF7174; line-height: 25px; margin-left: 330px; margin-top: 22px; padding-left: 10px; box-sizing: border-box; transform: skew(-10deg); }

#nav .nav_l > ul .categories .sale .promotion > a { color: #fff; font-size: 14px; }

#nav .nav_l > ul .categories > ul > li:last-child > p { height: 52px; line-height: 52px; border: 0 none; font-size: 14px; padding-left: 25px; width: 230px; box-sizing: border-box; }

#nav .nav_l > ul .categories > ul > li:last-child > p span { display: inline-block; width: 35px; height: 20px; background-color: #FB6003; font-weight: bold; line-height: 20px; text-align: center; color: #fff; margin-left: 10px; vertical-align: middle; border-radius: 10px; }

#nav .nav_l > ul .categories > ul > li:last-child > p:before { content: ""; display: block; width: 25px; height: 24px; background: url(../img/sprites.png) no-repeat; position: absolute; left: 0; top: 15px; background-position: -80px -40px; }

#nav .nav_l > ul .categories > ul > li:last-child:hover p:before { left: 14px; }

#nav .nav_l > ul .navactive { background: #E73F85; color: #fff; border-bottom: 2px solid #E73F85; }

#nav .nav_r > ul > li { float: left; }

#nav .nav_r > ul > li > a { height: 37px; line-height: 37px; margin: 0 25px; padding-left: 20px; position: relative; font-weight: bold; color: #000; }

#nav .nav_r > ul > li > a::before { content: ""; display: block; width: 20px; height: 22px; background: url(../img/sprites.png) no-repeat; position: absolute; left: 0; top: 0; background-position: 0 -40px; transition: transform 0.2s; }

#nav .nav_r > ul > li:first-child > a { color: #7A45E5; }

#nav .nav_r > ul > li:first-child > a::before { background-position: -560px 0; }

#nav .nav_r > ul > li:first-child:hover a { color: #7A45E5; }

#nav .nav_r > ul > li:first-child:hover a::before { transform: rotate(0deg); }

#nav .nav_r > ul > li:hover > a { color: #E73F85; }

#nav .nav_r > ul > li:hover > a::before { transform: rotate(360deg); }

#bottom { min-width: 1200px; background-color: #F5F5F5; }

#bottom .bottom_t { height: 100px; }

#bottom .bottom_t ul > li { float: left; }

#bottom .bottom_t ul > li > a { display: block; padding-left: 65px; margin-right: 35px; line-height: 100px; font-size: 20px; color: #000; font-weight: bold; position: relative; transition: line-height 0.6s; }

#bottom .bottom_t ul > li > a::before { content: ""; display: block; width: 65px; height: 65px; background: url(../img/bottom_t.png) no-repeat; position: absolute; left: 0; top: 18px; transition: top 0.6s; }

#bottom .bottom_t ul > li:first-child > a::before { background-position: 0 0; }

#bottom .bottom_t ul > li:nth-child(2) > a::before { background-position: 0 -80px; }

#bottom .bottom_t ul > li:nth-child(3) > a::before { background-position: 0 -160px; }

#bottom .bottom_t ul > li:nth-child(4) > a::before { background-position: 0 -240px; }

#bottom .bottom_t ul > li:nth-child(5) > a::before { background-position: 0 -320px; }

#bottom .bottom_t ul > li:nth-child(6) > a::before { background-position: 0 -400px; }

#bottom .bottom_t ul > li:hover > a { color: #FA0324; line-height: 80px; }

#bottom .bottom_t ul > li:hover > a::before { top: 10px; }

#bottom .bottom_c { border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; }

#bottom .bottom_c .bottom_bl { width: 390px; height: 185px; }

#bottom .bottom_c .bottom_bl > img { vertical-align: top; margin-top: 30px; }

#bottom .bottom_c .service { display: inline-block; color: #666; margin-left: 30px; }

#bottom .bottom_c .service h5 { font-size: 14px; font-weight: bold; margin-bottom: 15px; margin-top: 30px; }

#bottom .bottom_c .service p { font-size: 12px; }

#bottom .bottom_c .service p span { display: inline-block; font-size: 18px; margin: 0 5px 20px 0px; }

#bottom .bottom_c .bottom_bc { width: 390px; height: 185px; }

#bottom .bottom_c .links { font-size: 12px; color: #666; }

#bottom .bottom_c .links dl { float: left; margin-right: 80px; }

#bottom .bottom_c .links dl dt { font-size: 12px; font-weight: bold; margin-bottom: 20px; margin-top: 30px; }

#bottom .bottom_c .links dl dd { margin-bottom: 10px; }

#bottom .bottom_c .links dl dd:hover { color: #EF1E1C; }

#bottom .bottom_c .bottom_br { width: 220px; padding-top: 30px; }

#bottom .bottom_c .bottom_br p { font-size: 12px; text-align: center; margin-bottom: 10px; }

#bottom .bottom_b .blogroll { font-size: 12px; margin-top: 22px; margin-bottom: 25px; color: #B0B0B0; }

#bottom .bottom_b .blogroll a { color: #B0B0B0; }

#bottom .bottom_b .blogroll a:hover { color: #EF1E1C; text-decoration: underline; }

#bottom .bottom_b ul li { float: left; }

#bottom .bottom_b ul li a { display: block; margin-right: 7px; }

#bottom .bottom_b ul li:first-child a { margin-left: 40px; }

#bottom .bottom_b .addmit { margin-top: 25px; padding-bottom: 40px; text-align: center; font-size: 12px; color: #000; }

#aside .aside_content { min-height: 800px; width: 35px; position: fixed; right: 0; top: 0; background-color: #444; }

#aside li a { display: block; text-align: center; margin-top: 10px; }

#aside li span { display: inline-block; width: 12px; font-size: 12px; color: #9CA69C; margin-top: 5px; }

#aside li:nth-child(1) a { margin-top: 120px; }

#aside li:nth-child(2) a { margin-top: 40px; }

#aside li:nth-child(3) a { margin-top: 30px; }

#aside li:nth-child(4) a { margin-top: 35px; }

#aside li:nth-child(6) a { margin-top: 100px; }

.kefu { width: 110px; height: 40px; position: fixed; right: 0; bottom: 0; background-color: #f96666; border-radius: 5px; text-align: center; padding-left: 27px; line-height: 40px; color: #fff; font-size: 14px; }

.kefu::before { content: ""; display: block; width: 20px; height: 21px; background: url(../img/sprites.png) no-repeat; position: absolute; left: 30px; top: 7px; background-position: -380px -100px; }
