@import url("../css/common.css");
#reglogo { height: 120px; line-height: 120px; }

#reglogo .reglogo_l { color: #000; font-size: 18px; }

#reglogo .reglogo_l span { font-weight: bold; margin: 0 10px; }

#reglogo .reglogo_r { font-size: 14px; }

#main { height: 618px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

#main .form { margin: 55px auto 0 auto; padding: 0 230px; }

#main .form label { display: inline-block; width: 102px; text-align: right; }

#main .form-group { margin-bottom: 10px; }

#main .form-group input { height: 55px; width: 415px; border: 1px solid #ddd; border-radius: 8px; box-sizing: border-box; padding-left: 10px; }

#main .form-group #vcode { width: 205px; }

#main .form-group .yzcode { display: inline-block; border: 1px solid #ddd; border-radius: 8px; }

#main .form-group .yzcode button { width: 98px; height: 51px; position: relative; padding: 16px; background: #fff; }

#main .form-group .yzcode button:before { content: ""; display: block; width: 16px; height: 23px; background: url(../img/sprites.png) no-repeat; position: absolute; left: 5px; top: 15px; background-position: -500px -100px; }

#main .form-group .yzcode button:hover { color: #0af; }

#main .form-group span { display: inline-block; width: 102px; height: 53px; text-align: center; background: #0fa; line-height: 53px; }

#main .form-group #shortmsg { width: 255px; }

#main .form-group .getmsgcode { width: 150px; height: 55px; border: 1px solid #0fa; background: #fff; box-sizing: border-box; border-radius: 8px; margin-left: 5px; color: #999; font-size: 14px; }

#main .form-group .getmsgcode:hover { background: #33cb98; color: #fff; }

#main .form-group p { display: inline-block; width: 170px; height: 55px; background-color: #FFF3D9; vertical-align: bottom; visibility: hidden; text-align: center; font-size: 12px; line-height: 55px; color: #FF834A; }

#main .form-group .addmit { margin-left: 100px; font-size: 12px; display: inline; }

#main .form-group .addmit input { width: 10px; height: 10px; }

#main .form-group > button { width: 415px; height: 50px; margin-left: 100px; background: #EDEDED; font-size: 20px; color: #fff; }

#main .form-group .pwd_level { margin-left: 100px; margin-top: 8px; }

#main .form-group .pwd_level > li { float: left; background: #EEEEEE; width: 80px; margin: 4px; height: 20px; font-size: 12px; text-align: center; color: #fff; line-height: 20px; }
